<h3>Restaurants</h3>
<% @restaurants.each do |restaurant| %>
<ul>
  <li><%= restaurant.name %></li>
  <li><%= restaurant.category %></li>
  <li><%= restaurant.address %></li>
  <li><%= restaurant.phone_number %></li>
</ul>
<% end %>
